body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.alert {
  margin: 30px;
}

.blackborder {
  border: 2px black solid;
}

.coloroptions {
  display: flex;
  align-items: center;
}

.colorpicker {
  height: 5rem;
  width: 3rem;
  margin: 1rem;
}

.colorsliders {
  display: flex;
  flex-direction: column;
}
